
body, div, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  overflow: hidden;
}

body {
  width: 100%;
  *cursor: default;
  overflow: hidden;
  font: 16px/1.5 "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}

#pageContain {
  overflow: hidden;
}

.page {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.contain {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  z-index: 0;
}

.current .contain, .slide .contain {
  display: block;
}

.current {
  display: block;
  z-index: 1;
}

.slide {
  display: block;
  z-index: 2;
}

.swipe {
  display: block;
  z-index: 3;
  transition-duration: 0ms !important;
  -webkit-transition-duration: 0ms !important;
}

.page1 {
  background-image: url("../../../static/images/loginOrRegister/11.1.jpg") ;
}

/*注册欢迎页的css*/
.page1 .content{
  width: 930px;
  /*background-color: greenyellow;*/
  position: absolute;
  top: 284px;
  left: 50%;
  margin-left: -465px;
  height: 220px;
  z-index: 200;
}
.greetleft img{
  width: 345px;
  height: 166px;
}
.greetleft{
  margin-top: 50px;
  width: 433px;
  border-right: 2px solid #636c70;
  display: inline-block;
}

.greetright{
  margin-left: 50px;
  display: inline-block;
}
.greetTitle{
  font-size: 36px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 50px;
}
.greet-info{
  font-size: 12px;
  color: #ffffff;
}
.gs{
  margin-bottom: 50px;
}
.beginRegister{
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

/*注册页 第一部的css*/
.page2 {
  background-image: url("../../../static/images/loginOrRegister/12.jpg");
  background-size: 100% 100%;
}
.page2 .content{
  margin-top: 150px;
  margin-left: 250px;
  /*background-color: deepskyblue;*/
  width: 600px;
  height: 188px;
}
.firstStepTitle{
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 60px;
}

.firstStepHint,.firstStepInput{
  width: 600px;
  color: #cccccc;
  font-size: 12px;
}

.page2 .content .mu-text-field-line,.page2 .content .mu-text-field-focus-line{
  width: 600px;
  color: #ffffff;
  background-color: #fff;
}
.firstStepBtn{
  margin-top: 20px;
}


/* 超管盒子登录页的第二步 */

.page3 {
  background-image: url("../../../static/images/loginOrRegister/13.jpg");
  background-size: 100% 100%;
}
.page3 .content{
  margin-top: 150px;
  margin-left: 250px;
  width: 600px;
}
.secondStepTitle{
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 56px;
}
.boxModel{
  font-size: 12px;
  color: #cccccc;
  margin-bottom: 20px;
}

.boxDesc{
  font-size: 12px;
  color: #cccccc;
  margin-bottom: 25px;
}


.secondStepHint,.secondStepInput{
  width: 600px;
  color: #cccccc;
  font-size: 12px;
}
.page3 .content .mu-text-field-line,.page3 .content .mu-text-field-focus-line{
  width: 600px;
  color: #ffffff;
  background-color: #fff;
}
.secondStepBtn{
  margin-right: 10px;
}


/* 超管盒子注册页面 激活第四部 激活成功 */
.page4 {
  background-image: url("../../../static/images/loginOrRegister/14.jpg");
  background-size: 100% 100%;
}
.page4 .content{
  width: 500px;
  height: 188px;
  /*background-color: deeppink;*/
  margin-top: 150px;
  margin-left: 256px;
}
.thirdStepTitle{
  margin: 0px;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 50px;
}
.thirdDescOne,.thirdDescTwo{
  font-size: 12px;
  color: #cccccc;
}
.thirdPUserName,thirdpPas{
  color: #00a2de;
}
.thirdStepBtn{
  margin-top: 30px;
}

.page5 {
  background: #00ff00;
}

.page6 {
  background: #22ffff;
}

.navBar {
  z-index: 3;
  position: absolute;
  top: 30%;
  right: 3%;
}

.navBar .active {
  background: #ccc;
}

.navBar li {
  cursor: pointer;
  margin-bottom: 10px;
  transition: all .7s ease;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.txt {
  margin-top: 20%;
  font-size: 50px;
  color: #fff;
  text-align: center;
}
button#btn {
  position: absolute;
  top: 0;
  z-index: 10000;
}

button#btnUp {
  position: absolute;
  top: 100px;
  z-index: 10000;
}
